*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
.prime-color{
    color: #ff5400;
}
.prime-btn{
    width: 130px;
    height: 30px;
    color: white;
    background-color: #ff5400;
    border-style: none;
    border-radius: 5px;
    font-weight: 900;

}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 52px 100px;
}
.nav-logo{
    display: flex;
    align-items: center;
    
}
.nav-menu > ul{
    display: flex;
}
.nav-menu li{
    list-style: none;
    margin-left: 20px;
}
.nav-menu a{
    text-decoration: none;
}
.main{
    width: 1200px;
    margin: 40px auto;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
}
.container1{
    width: 1170px;
    height: 500px;
    background-image: linear-gradient(180deg, #252525 0%, rgba(7, 2, 17, 0.00) 100%), url(./Images/Group\ 13.png);
    margin: 100px auto;
    align-items: center;
    border-radius: 15px;
}
.c1-text-sec{
    width: 600px;
    margin: 0px auto;
    padding-top: 100px;
    text-align: center;
    align-items: center;
}
.c1-title{
    color: #FFF;
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 20px;
}
.c1-desc{
    color: white;
    padding-bottom: 20px;
}
.container2{
    width: 1170px;
    margin: 100px auto;
    display: flex;
}
.c2-title{
    font-size: 2.8rem;
    margin-bottom: 15px;
}
.c2-img-sec{
    margin-left: 25px;
}
.sec2-btn{
    width: 174px;
    height: 52px;
    font-size: 1.25rem;
}
.container3{
    width: 1170px;
    margin: 100px auto;
    align-items: center;
}
.c3-title{
    font-size: 2.8rem;
    margin-bottom: 15px;
}
.c3-text-sec{
    width: 800px;
    margin: 15px auto;
    text-align: center;
}
.c3-desc{
    line-height: 30px;
    color:  #5A5A5D;
}
.c3-img-sec{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container4{
    width: 1170px;
    margin: 100px auto;
    align-items: center;
}
.c4-text-sec{
    width: 800px;
    margin: 15px auto;
    text-align: center;
}
.c4-title{
    font-size: 2.8rem;
    margin-bottom: 15px;
}
.card1{
    width: 573px;
    height: 284px;
    padding: 30px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.card2{
    width: 573px;
    height: 284px;
    padding: 30px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: #f4fdff
}
.card3{
    width: 573px;
    height: 284px;
    padding: 30px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: #fef6f6;
}
.container4{
    margin: 100px auto;
    align-items: center;
    justify-content: center;
}
.c4-card-sec1{
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
    gap: 20px;
}
.card3{
    margin: 0px auto;
}
.container4 h3{
    margin: 20px 0px;
    font-size: 1.5rem;
    font-weight: 900;
}
.card1-desc, .card2-desc, .card3-desc, .c4-desc{
    line-height: 30px;
    color:  #5A5A5D;
}
.container5{
    margin: 100px auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.c5-text-sec{
    width: 650px;
    margin: 0px auto;
}
.c5-title{
    font-size: 2.8rem;
    margin-bottom: 15px;
}
.c5-desc{
    line-height: 30px;
    color:  #5A5A5D;
    margin-bottom: 30px;
}
.c5-banner-sec{
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.c5-banner1{
    margin: 0px auto;
    width: 1150px;
    height: 500px;
    background: url(./Images/Group\ 39.png);
    border-radius: 15px;
    justify-content: center;
}
.c5-banner2{
    margin: 0px auto;
    width: 1150px;
    height: 500px;
    background: url(./Images/Group\ 40.png);
    border-radius: 15px;
}
.c5-banner3{
    margin: 0px auto;
    width: 1150px;
    height: 500px;
    background: url(./Images/Group\ 39.png);
    border-radius: 15px;
}
.book-now1{
    width: 579px;
    height: 389px;
    background: rgba(rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), 0.3) ;
    border-radius: 15px;
    align-items: center;
    
}
.book-now2{
    width: 579px;
height: 389px;
}
.book-now3{
    width: 579px;
    height: 389px;
}
.c5-btn{
    margin: 40px auto;
    width: 210px;
    height: 52px;
    font-size: 1.25rem;
}
