*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
.prime-color{
    color: #ff5400;
}
.prime-btn{
    width: 100px;
    height: 30px;
    color: white;
    background-color: #ff5400;
    border-style: none;
    border-radius: 5px;
    font-weight: 900;

}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 52px 100px;
}
.nav-logo{
    display: flex;
    align-items: center;
    
}
.nav-menu > ul{
    display: flex;
}
.nav-menu li{
    list-style: none;
    margin-left: 20px;
}
.nav-menu a{
    text-decoration: none;
}
.main{
    width: 1200px;
    margin: 40px auto;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
}
.container1{
    width: 1170px;
    height: 500px;
    background-image: linear-gradient(180deg, #252525 0%, rgba(7, 2, 17, 0.00) 100%), url(./Images/Group\ 13.png);
    margin: 0px auto;
    align-items: center;
}
.c1-text-sec{
    width: 600px;
    margin: 0px auto;
    padding-top: 100px;
    text-align: center;
    align-items: center;
}
.c1-title{
    color: #FFF;
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 20px;
}
.c1-desc{
    color: white;
    padding-bottom: 20px;
}
.container2{
    width: 1170px;
    margin: 50px auto;
    display: flex;
}
.c2-title{
    font-size: 2.8rem;
    margin-bottom: 15px;
}
.c2-img-sec{
    margin-left: 25px;
}
.container3{
    width: 1170px;
    margin: 0px auto;
    align-items: center;
}
.c3-title{
    font-size: 2.8rem;
    margin-bottom: 15px;
}
.c3-text-sec{
    width: 800px;
    margin: 15px auto;
    text-align: center;
}
.c3-img-sec{
    display: flex;
    flex-direction: column;
    gap: 10px;
}